.contact-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  box-sizing: border-box
}

.contact-page .text-zone {
  position: static !important;
  top: auto !important;
  left: auto !important;
  transform: none !important;
}
.text-zone {
  height: 55%;
  width: 45%;
  text-align: left;

  li {
    list-style: none;
    a {
      padding: 7px 0;
      display: inline;
      font-size: 50px;
      line-height: 16px;

      &:hover svg {
        color: #ffd700;
      }
    }
  }
}

.contact-form {
  width: 45%;
  text-align: right;
  margin-top: 20px;

  ul {
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 10px;
      overflow: hidden;
      display: block;
      position: relative;
      opacity: 0;
      animation: fadeInUp 2s 2s;
      animation-fill-mode: forwards;
      clear: both;
    }

    li.half {
      width: 49%;
      margin-left: 2%;
      float: left;
      clear: none;

        &:first-child {
            margin-left: 0;
        }
    }
  }

  input[type="text"], input[type="email"] {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    border: 0;
    background: #115173;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    min-height: 150px;
    box-sizing: border-box;
  }

  .flat-button {
    color: #ffd700;
    background: 0 0;
    font-size: 11px;
    letter-spacing: 3px;
    text-decoration: none;
    padding: 8px 10px;
    border: 1px solid #ffd700;
    float: right;
    border-radius: 4px;
    transition: all 0.4s ease;

    &:hover {
      background: #ffd700;
      color: #000;
      cursor: pointer;
    }
  }
}

